/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.menu-grid {
  width: 100%;
}

/* Left Sided Menu */
.menu-grid__row {
  display: grid;
  grid-template-columns: 80px 1fr auto;
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
}

.menu-grid__row-1 {
  display: flex;
  flex-direction: column;
}

.menu-grid__row-1:first-child {
  width: 80px;
  height: 100vh;
  padding: 1.6rem;
  border-right: 1px solid #e5e7eb;
  background-color: #fff;
}

.menu-logo {
  width: 3.2rem;
  height: auto;
}

/* Header Component */
.menu-2 {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
}

.menu-2 h1 {
  padding: 1.6rem 2.4rem;
  font-size: 1.8rem;
  color: #111827;
}

.menu-2__1 {
  display: flex;
  gap: 5rem;
  padding: 1.6rem 2.4rem;
  text-align: right;
  justify-content: end;
}

.menu-2__1 h3 {
  font-size: 1.4rem;
  color: #111827;
  font-weight: 500;
}

.menu-2__1 h4 {
  font-size: 1.2rem;
  color: #6B7280;
  font-weight: normal;
}

/* SVG Styles */
.menu-grid__annex {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.svg-icon {
  width: 24px;
  height: 24px;
  color: #6B7280;
  cursor: pointer;
  transition: color 0.2s ease;
}

.svg-icon:hover {
  color: #1D4ED8;
}

.exempt {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: auto;
}

/* Button Styles */
.btn {
  padding: 1.2rem 8rem;
  display: inline-block;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.btn-blue {
  background-color: #1D4ED8;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
}

/* Center Area */
.main-content-area {
  
}

.message-area {
  padding: 2.1rem;
  height: 100vh;
  border-right: 1px solid #e5e7eb; 
}


/* Dropdown Menu Styles */
.dropdown-menu {
  margin-top: 1rem;
  padding: 1rem;
}

.btnd {
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 600;
  color: #111827;
}

.dropdown-menu__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.dropdown-menu__content a {
  font-size: 1.2rem;
  padding: 0.3rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 2px;
}

.dropdown-menu__content a:hover {
  text-decoration: none;
}