*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.menu{
  display: grid;
  position: relative;
}

.menu-section1{
  display: flex;
}

.menu-logo{
  width: 5rem;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}